<!-- Ce template est inclus dans showPost.html.twig pour les actions de modification/suppression -->
<a href="/BlogPHP/edit_post">Modifier l'article</a>
<a href="/BlogPHP/delete_post">Supprimer l'article</a>
