{% extends 'index.html.twig' %}

{% block title %}Liste des articles{% endblock %}

{% block content %}
    <div class="container mt-4">
        <h1>Liste des articles</h1>
        <div class="list-group">
            <a class="list-group-item list-group-item-action" href="/BlogPHP/showPost" >Article 1</a>
            <a  class="list-group-item list-group-item-action" href="/BlogPHP/showPost">Article 2</a>
            <!-- Ajoutez d'autres articles ici -->
        </div>
    </div>
{% endblock %}
