{% extends 'index.html.twig' %}

{% block title %}Détail de l'article{% endblock %}

{% block content %}
    <h1>Détail de l'article</h1>
    <!-- Afficher le contenu de l'article ici -->
    <p>Contenu de l'article...</p>
    {% include 'editDeletePost.html.twig' %}
{% endblock %}
